<div class="container">
    <div class="units">
        <div class="desc-wrap">
            <div class="imgsm2">
                <div class="imgsm"><img class="imgsm" src="../../assets/Images/Features_Units.png" alt="Turret"></div>
            </div>
            <div class="cont-desc">
                <div class="desc">
                    <h1>UNITÀ FORMIDABILI</h1>
                    <p>
Sperimenta numerose unità difensive e potenzia con strategia le loro caratteristiche.
</p>
                </div>
            </div>
        </div>
    </div>

    <div class="bots">
        <div class="desc-wrap">
            <div class="cont-desc">
                <div class="desc">
                    <h1>NEMICI LETALI</h1>
                    <p>
Affronta orde di temibili EUTONS e supera i possenti BOSS alla fine di ogni bioma.</p>
                </div>
            </div>
            <div class="imgsm2">
                <div class="imgsm"><img  src="../../assets/Images/Features_Bots.png" alt="Bot"></div>
            </div>
        </div>
    </div>
</div>
