<div class="container">
    <div class="units">
        <div class="desc-wrap">
            <img src="../../assets/Images/Features_Units.png" alt="">
            <div class="cont-desc">
                <div class="desc">
                    <h1>Powerful units!!</h1>
                    <p>Prova numerose unità difensive! Fai cose belle con belle torrette forti sempare più forti fortissime.
                        Provale tutte e ciao!</p>
                </div>
            </div>
        </div>
    </div>

    <div class="bots">
        <div class="desc-wrap">
            <div class="cont-desc">
                <div class="desc">
                    <h1>Cosi pericolosi</h1>
                    <p>Prova numerose unità difensive! Fai cose belle con belle torrette forti sempare più forti fortissime.
                        Provale tutte e ciao!</p>
                </div>
            </div>
            <div class="img-bots"><img src="../../assets/Images/Features_Bots.png" alt=""></div>
        </div>
    </div>
</div>
