.units, .bots{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.units{
    position: relative;
    margin-top: -132px;
    height: 439px;
    user-select: none;
}

.units img, .units .cont-desc {
    position: relative;
    z-index: 2; /* Più alto rispetto al pseudo-elemento */
}

.units::before {
    content: ""; /* Pseudo-elemento */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, rgb(51,143,193), rgb(27,62,94) 85%);
    clip-path: polygon(-140% -30%, 85% 30%, 100% 9%, 100% 100%, 100% 75%, 16% 100%, 0 80%, 0 20px);
    z-index: 1;
}

.bots{
    height: 423px;
    background: linear-gradient(to right, rgb(229,95,58), rgb(105,33,18) 60%);
    margin-top: -112px;
    user-select: none;
}

.desc-wrap{
    width: 700px;
    display: flex;
    position: relative;
}

img{
    height: 430px;
    z-index: 2;
    position: relative;
}

.bots img{
    margin-right: -50px
}

.units img{
    margin-left: -50px;
    z-index: 50;
    position: relative;
}

.cont-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
}

.desc{
    padding: 20px 30px;
    border-radius: 35px;
    background: linear-gradient(to bottom, rgb(42,111,152), rgba(42,111,152, 0.01) 80%);
    padding-bottom: 100px; /* Assieme */
    margin-bottom: -100px; /* Assieme */
    color: white;
    font-size: 19px;
    z-index: 50;
    font-family: Bebas Neue Pro;
}

.desc p{
    font-family: Bebas Neue Pro;
    font-size: thin;
}

.bots .desc{
    background: linear-gradient(to bottom, rgb(178,70,42), rgba(178,70,42, 0.01) 75%);
}

h1{
    color: #112130;
    font-style: italic;
    font-size: 45px;
}


@media (max-width: 768px) {


    .units{
        justify-content: space-between;
        height: 250px;
        padding-bottom: 31px;
    }
    .bots{
        height: 310px;
        padding-top: 30px;
    }

    .container{
        z-index: -1;
        padding: 0px 0px;
    }

    .desc-wrap{
        width: 100%;
    }

    .desc{
        padding: 0% 4%;
        background: none;
        padding-bottom: 100px; /* Assieme */
        margin-bottom: -100px; /* Assieme */
        font-size: 1rem;
        width: 55vw;
    }

    .units .desc{
        margin-left: -42px;
        z-index: 50;
        position: relative;
    }

    .bots{
        background: rgb(229,95,58);
        justify-content: space-between;
    }
    .bots .desc{
        background: none;
    }

    .units::before {
        background: rgb(51,143,193);
        clip-path: polygon(0% 0%, 0% 0%, 100% 6%, 100% 100%, 100% 85%, 0% 90%, 0 0%, 0 0px);

    }
    .cont-desc{
        width: 50%;
        position: relative;
    }
    .units img, .units .cont-desc{
        position: relative;
        z-index: 888888888888;
    }

    h1{
        color: #112130;
        font-style: italic;
        font-size: 2.5rem;
        line-height: 2.2rem;
    }
    .desc p{
        font-family: Bebas Neue Pro;
        font-size: thin;
        font-size: 1.3rem;

    }
    .imgsm2{
        width: 50%;
    }
    .imgsm{
        margin-right: 0px;
    }

    .bots .imgsm {
        margin-left: 18px;
        object-position: left;
        padding-top: 35px;

    }
    .units .imgsm{
        margin-right: -33px;
        object-position: right;
    }

    img{
        width: 100%;
        z-index: 2;
        position: relative;
        object-fit: cover;
        height: 250px;
    }
    .bots .desc{
        padding-top: 30px;
    }
}