<div class="container">
    <div class="units">
        <div class="desc-wrap">
            <div class="imgsm2">
                <div class="imgsm"><img class="imgsm" src="../../assets/Images/Features_Units.png" alt="Turret"></div>
            </div>
            <div class="cont-desc">
                <div class="desc">
                    <h1>Powerful units!!!</h1>
                    <p>Prova numerose unità difensive! Belle torrette, forti sempare più forti fortissime.
                        Provale tutte!</p>
                </div>
            </div>
        </div>
    </div>

    <div class="bots">
        <div class="desc-wrap">
            <div class="cont-desc">
                <div class="desc">
                    <h1>Dangerous Enemies</h1>
                    <p>Affronta diversi nemici ed affronta i temibili boss!</p>
                </div>
            </div>
            <div class="imgsm2">
                <div class="imgsm"><img  src="../../assets/Images/Features_Bots.png" alt="Bot"></div>
            </div>
        </div>
    </div>
</div>
