<div class="container">
    <div class="footer1">
        <div class="row pre-footer">
            <div class="col">
                <span class="title socials">Social</span>
                <div class="socials">
                    <a href="https://www.instagram.com/teom_theenemyofmine" target="_blank">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="https://www.facebook.com/voxel.entmt/" target="_blank">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                    <a href="https://discord.gg/abTPNQuz2Z" target="_blank">
                        <i class="fa-brands fa-discord fa-sm"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row pre-footer social-contact-row">
            <div class="col">
                <span class="title">CONTACTS</span>
                <div class="contact-list">
                    <span class="item">
                        Phone: <span class="value">&nbsp;+39 0736 781937</span>
                    </span>
                    <span class="item">
                        Mobile: <span class="value">&nbsp;+39 3518661118</span>
                    </span>
                    <span class="item">
                        Email: <span class="value">&nbsp;TEOM@VOXEL.IT</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="row pre-footer legal">
            <div class="col">
                <span class="title">COMPANY</span>
                <div class="contact-list">
                    <span class="item">
                        VAT: <span class="value">&nbsp;02387830447</span>
                    </span>
                    <span class="item">
                        Company Name: <span class="value">&nbsp;Voxel S.r.l.</span>
                    </span>
                    <span class="item">
                        Address: <span class="value">&nbsp;Via Dell'Aspo 1 (AP) 63100 - ITALY</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer2">
    <p>
        Copyright by 
        <a href="https://voxel.it/it" target="_blank">
            <img src="../../assets/logo/dark.png" alt="Voxel">
        </a>
        2023 all rights reserved. Registered trademark.
        <a href="https://www.iubenda.com/privacy-policy/79150693/legal" rel="noreferrer" target="_blank" class="privacy-policy" title="Privacy Policy">Privacy Policy</a>
    </p>
</div>
