<div class="footer1">
    <div class="row pre-footer">
        <div class="col">
            <span class="title socials">Social</span>
            <div class="socials">
                <a href="https://instagram.com/voxel_entmt" target="_blank">
                    <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
                </a>
                <a href="https://www.facebook.com/voxel.entmt/" target="_blank">
                    <fa-icon [icon]="['fab', 'facebook-f']"></fa-icon>
                </a>
                <a href="https://www.linkedin.com/company/voxel-studios-graphics-dev" target="_blank">
                    <fa-icon [icon]="['fab', 'linkedin-in']"></fa-icon>
                </a>
                <a href="https://www.youtube.com/channel/UCtSJ_UMnuiGAX4z1azyB-cA" target="_blank">
                    <fa-icon [icon]="['fab', 'youtube']"></fa-icon>
                </a>
                <a href="https://wa.me/393518661118" target="_blank">
                    <fa-icon [icon]="['fab', 'whatsapp']"></fa-icon>
                </a>
            </div>
        </div>
    </div>
    <div class="row pre-footer social-contact-row">
        <div class="col">
            <span class="title">contacts</span>
            <div class="contact-list">
                <span class="item">
                    Phone: <span class="value">+39 0736 781937</span>
                </span>
                <span class="item">
                    Mobile: <span class="value">+39 3518661118</span>
                </span>
                <span class="item">
                    Email: <span class="value">info@voxel.it</span>
                </span>
            </div>
        </div>
    </div>
    <div class="row pre-footer legal">
        <div class="col">
            <span class="title">business</span>
            <div class="contact-list">
                <span class="item">
                    vat: <span class="value">02387830447</span>
                </span>
                <span class="item">
                    business name: <span class="value">Voxel di Matteo Maravalle</span>
                </span>
                <span class="item">
                    address: <span class="value">Via Dell'Aspo 1 (AP) 63100</span>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="footer2">
    <p>Copyright by VOXEL 
        <a href="https://www.iubenda.com/privacy-policy/79150693/legal" rel="noreferrer" target="_blank" class="privacy-policy" title="Privacy Policy">Privacy Policy</a>
    </p>
</div>