.container{
    background-color: #112130;
    padding: 35px 0 35px 0;
}

.footer1{
    margin: 0px auto;
    width: max-content;
}

.col {
    display: flex;
    align-items: center;
    /* margin-bottom: 16px; */
    line-height: 41px;
}

.title
{
    text-transform: uppercase;
    width: 80px;
    color: white;
    user-select: none;
}

.socials
{
    display: flex;
    align-items: center;
    user-select: none;
    margin-right: 40px; /* spazio icone da stringa 'SOCIAL' */
}

.socials a {
    display: flex;
    height: 14px;
    background-color: #314248;
    border-radius: 6px;
    padding: 4px 3px 3px 3px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-left: 10px;
    color: #FFBB00;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.socials a:hover
{
    background-color: #FFBB00;
    color: #314248;
}

.contact-list
{
    display: flex;
    flex-wrap: wrap;
}

.item
{
    font-weight: normal;
    color: #7A7A7B;
    display: flex;
    /* display: inline; */
}

.item .value {
    color: white;
}

.item:before
{
    content: ' ';
    /* display: inline-block; */
    position: relative;
    top: 16px;
    left: -6px;
    background: #FFBB00;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    margin-left: 45px;
}

.footer2{
    background: #FFBB00;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.footer2.p{
    color: #747474;
    margin-bottom: 0;
    text-align: center;
}

a.privacy-policy{
    color: black;
}

span{
    font-family: Bebas Neue Pro;
    font-size: thin;
}

.fab, .fa-brands {
    font-weight: 900;
}

.footer2 img{
    width: 5.4rem;
    margin-bottom: -0.4rem;
}



@media (max-width: 600px) {
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

    }
    
    .footer1{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 95%;
    }
    
    .col {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .socials{
        display: flex;
        justify-content: center;
        width: 100%;
        padding-bottom: 8px;
        margin-right: 0px; /* spazio icone da stringa 'SOCIAL' */
    }

    .contact-list{
        display: flex;
        flex-wrap: column;
        width: 100%;
    }

    .item {
        margin-right: 5px;
    }

    .title{
        /* flex-direction: initial; */
        width: 100%;
    }

    .row{
        width: 100%;

    }

    .item:before
    {
        margin-left: 10px;
    }

    .footer2 p{
        padding: 0 3%;
    }

    .title.socials{
        display: none;
    }

    .fa-facebook:before, .fa-instagram:before {
        font-size: 30px;
    }
    .fa-discord:before{
        font-size: 28px;
    }
    .fa-instagram {
        font-weight: 800;
        padding: 6px 3px 6px 3px;
    }
    .socials a {
        height: 30px;
        border-radius: 6px;
        margin-right: 10px;
        margin-left: 10px;
        padding: 6px;
    }
    .socials a .fa-discord{
        padding: 12px 0px 6px 0px;
    }
    
}