<div class="container">
    <div class="footer1">
        <div class="row pre-footer">
            <div class="col">
                <span class="title socials">Social</span>
                <div class="socials">
                    <a href="https://instagram.com/voxel_entmt" target="_blank">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="https://www.facebook.com/voxel.entmt/" target="_blank">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                    <a href="https://www.linkedin.com/company/voxel-studios-graphics-dev" target="_blank">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UCtSJ_UMnuiGAX4z1azyB-cA" target="_blank">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                    <a href="https://wa.me/393518661118" target="_blank">
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row pre-footer social-contact-row">
            <div class="col">
                <span class="title">CONTATTI</span>
                <div class="contact-list">
                    <span class="item">
                        Phone: <span class="value">&nbsp;+39 0736 781937</span>
                    </span>
                    <span class="item">
                        Mobile: <span class="value">&nbsp;+39 3518661118</span>
                    </span>
                    <span class="item">
                        Email: <span class="value">&nbsp;TEOM@voxel.it</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="row pre-footer legal">
            <div class="col">
                <span class="title">AZIENDALE</span>
                <div class="contact-list">
                    <span class="item">
                        P.IVA: <span class="value">&nbsp;02387830447</span>
                    </span>
                    <span class="item">
                        Ragione Sociale: <span class="value">&nbsp;Voxel di Matteo Maravalle</span>
                    </span>
                    <span class="item">
                        Indirizzo: <span class="value">&nbsp;Via Dell'Aspo 1 (AP) 63100 - ITALIA</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer2">
    <p>Copyright by VOXEL 2023 tutti i diritti riservati. Marchio registrato. <a href="https://www.iubenda.com/privacy-policy/79150693/legal" rel="noreferrer" target="_blank" class="privacy-policy" title="Privacy Policy">Privacy Policy</a>
    </p>
</div>