.container{
    background-color: #112130;
    padding: 35px 0 35px 0;
}

.footer1{
    margin: 0px auto;
    width: max-content;
}

.col {
    display: flex;
    align-items: center;
    /* margin-bottom: 16px; */
    line-height: 41px;
}

.title
{
    text-transform: uppercase;
    width: 80px;
    color: white;
    user-select: none;
}

.socials
{
    display: flex;
    align-items: center;
    user-select: none;
    margin-right: 40px; /* spazio icone da stringa 'SOCIAL' */
}

.socials a {
    display: flex;
    width: 14px;
    height: 14px;
    background-color: #314248;
    border-radius: 6px;
    border: 3px solid #2d4147;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-left: 10px;
    color: #FFBB00;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

/* .fa-instagram{
    background-color: #FFBB00;
} */

.socials a:hover
{
    background-color: #e4cb89;
    color: #ffbb00a5;
}

.contact-list
{
    display: flex;
    flex-wrap: wrap;
}

.item
{
    font-weight: normal;
    color: #7A7A7B;
    display: flex;
    /* display: inline; */
}

.item .value {
    color: white;
}

.item:before
{
    content: ' ';
    /* display: inline-block; */
    position: relative;
    top: 12px;
    left: -6px;
    background: #FFBB00;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    margin-left: 45px;
}

.footer2{
    background: #FFBB00;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.footer2.p{
    color: #747474;
    margin-bottom: 0;
    text-align: center;
}

a.privacy-policy{
    color: black;
}
