.container{
  background-color: #112130;
  width: 100%;
  height: 100%;
  padding-bottom: 60px;
  color: white;
  padding: 60px 0 120px 0;
  user-select: none;
}
  
.card-section {
  /* width: 75%; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin: 20px 0 20px 0;
}

.col {
  display: flex;
}

.description {
  display: flex;
  flex-direction: column;
  padding: 20px 50px 20px 20px;
  width: 230px;
  height: 100%;
  font-size: 10px;
  position: relative;
  box-sizing: border-box;
}

.desc2{
  padding: 20px 0px 20px 50px;
}

/* SCETTRO */

.scettro {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0 20px 0;
}

.desc2 .scettro {
  margin-left: 30px;
}

.pallino {
  width: 11px;
  height: 11px;
  /* background-color: #FFBB00; */
  border-radius: 50%;
  background: linear-gradient(#FFBB00, #f89b00 80%);
}

.lineetta {
  flex-grow: 1;
  width: 2px;
  background-color: #FFBB00;
  background: linear-gradient(rgb(255, 187, 0, 0.5), transparent);
}

/* CARD */

.card {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  background: linear-gradient(to top, #2D5CA6, #14283D);
  border-radius: 19px;
  padding: 9px;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
  border: 2px solid white;
  height: 200px;
  width: 300px;
}

/* TESTI */

.description h2{
  background: -webkit-linear-gradient(white 26%, rgb(130, 130, 130), rgb(58, 58, 58));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 25px;
  margin-bottom: -2px;
}

.description h4{
  color: #FFBB00;
  margin-bottom: 8px;
}