<div class="space"></div>
<div class="container-wrapper">
  <div class="background-container" [ngClass]="currentContainerBackground"></div>
  <div class="container">
  <div class="card-section">
    <div class="row bg1" 
    (mouseenter)="changeBackgroundForRow($event, '../../assets/cards_img/Article1.png', 'bg1')" 
    (mouseleave)="resetBackground($event)">
      <div class="col description">
        <div class="scettro">
          <div class="pallino"></div>
          <div class="lineetta"></div>
        </div>
        <h2>DYNAMIC LEVELS</h2>
        <h4>Sottotitolo magico che spiega qualcosa</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error dolor molestiae, nostrum tenetur porro aliquid quibusdam libero quam iure ab. Numquam aspernatur quibusdam aut omnis inventore incidunt totam quidem corporis.</p>
      </div>
      <div class="col card"
        (mouseenter)="onItemMouseEnter($event)"
        (mouseleave)="onItemMouseLeave($event)"
        (mousemove)="onItemMouseMove($event)">
        <img src="assets/cards_img/Article1.png" alt="Card 1">
      </div>
    </div>

    <div class="row bg2"
    (mouseenter)="changeBackgroundForRow($event, '../../assets/cards_img/Article2.png', 'bg2')" 
    (mouseleave)="resetBackground($event)">
      <div class="col card"
      (mouseenter)="onItemMouseEnter($event)"
      (mouseleave)="onItemMouseLeave($event)"
      (mousemove)="onItemMouseMove($event)">
        <img src="assets/cards_img/Article2.png" alt="Card 2">
      </div>
      <div class="col description desc2">
        <div class="scettro">
          <div class="pallino"></div>
          <div class="lineetta"></div>
        </div>
        <h2>ROUGUELIKE MODE</h2>
        <h4>Sottotitolo magico che spiega qualcosa</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias, dolorem earum laborum sint, explicabo nostrum consectetur expedita, dolorum libero inventore ullam delectus dignissimos laboriosam officiis odit. Distinctio repellendus pariatur dolores.</p>
      </div>
    </div>
    
    <div class="row bg3"
    (mouseenter)="changeBackgroundForRow($event, '../../assets/cards_img/Article3.png', 'bg3')" 
    (mouseleave)="resetBackground($event)">
      <div class="col description">
        <div class="scettro">
          <div class="pallino"></div>
          <div class="lineetta"></div>
        </div>
        <h2>CAMPAIGN</h2>
        <h4>Sottotitolo magico che spiega qualcosa</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi rerum mollitia voluptatum distinctio! Ullam, architecto omnis animi culpa deleniti vitae rem veniam at provident cupiditate, vero corporis. Dolore, pariatur ut.</p>
      </div>
      <div class="col card"
        (mouseenter)="onItemMouseEnter($event)"
        (mouseleave)="onItemMouseLeave($event)"
        (mousemove)="onItemMouseMove($event)">
        <img src="assets/cards_img/Article3.png" alt="Card 3">
      </div>
    </div>
  </div></div>
</div>