<div class="hero-section">
    <div class="logo">
        <img src="assets/logo/Logo.png" alt="Logo">
    </div>
    <div class="btnWrapper">
    <button #submitBtn class="submit-button" onclick="window.open('https://store.steampowered.com/app/964490/TEOM_The_Enemy_Of_Mine/');">
        Play now
    </button>
    </div>

    <div class="Wrapper2">
        <div class="Wrapper3">
            <img class="core" src="../../assets/Images/Parallax_Core.png" alt="nucleo">
            <img class="k41" src="../../assets/Images/Parallax_K41.png" alt="k41">
            <img class="clock" src="../../assets/Images/Parallax_Clock.png" alt="clock">
            <img class="aiden" src="../../assets/Images/Parallax_Aiden.png" alt="aiden">
        </div>
    </div>
</div>  