.hero-section {
    height: 100vh;
    user-select: none;
    background-image: 
        linear-gradient(to bottom, transparent, #14283D),
        url('../../assets/img/Header.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.center-logo {
    z-index: 1;
}

.center-logo img {
    height: 250px;
    padding-top: 50px;
}
