.hero-section {
    height: 100vh;
    user-select: none;
    background-image: 
        linear-gradient(to bottom, transparent, rgb(17, 33, 48)),
        url('../../assets/img/Header.png');
    background-size: cover;
    background-position: center;
}


.logo img {
    height: 298px;
    padding-top: 50px;
    left: 50%;
    transform: translate(-50%);
    box-sizing: border-box;
}

/* SUBMIT */

.submit-button {
    z-index: 1;
    width: 100%;
    color: white;
    font-weight: 800;
    font-size: 40px;
    box-shadow: rgb(255, 206, 72, 0.5) 0px 0px 14px 6px inset;
    border-radius: 25px;
    cursor: pointer;
    background: linear-gradient(#FFBB00, #f89b00);
    transition: transform 0.2s ease-in-out;
    transform: skewX(-10deg);
    position: absolute;
    top: 700px;
    height: 75px;
    width: 200px;
}

.submit-button:active {
    background: #FFCC24;
}

.submit-button:hover {
    transform: skewX(-9deg) scale(1.1);
}

img{
    position: absolute;
}

.core{
    height: 430px;
    top: 310px;
}
.k41{
    height: 200px;
    top: 285px;
    left: 4%;
}
.clock{
    height: 390px;
    top: 410px;
    left: 500px;
}
.aiden{
    height: 425px;
    top: 410px;
    left: 62px;
}

.btnWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.Wrapper2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.Wrapper3{
    width: 900px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.core, .logo, .k41, .clock, .aiden {
    will-change: transform;
  }