.hero-section {
    height: 96vh;
    user-select: none;
    background-image: 
        linear-gradient(to bottom, transparent, rgb(17, 33, 48)),
        url('../../assets/img/Header.png');
    background-size: cover;
    /* background-position: 90px; */
    /* background-size: 95% 95%; */
}

.logo img {
    height: 298px;
    padding-top: 20px;
    padding-bottom: 30px;
    left: 50%;
    transform: translate(-50%);
    box-sizing: border-box;
}

/* SUBMIT */

.submit-button {
    z-index: 1;
    width: 100%;
    color: white;
    font-weight: 800;
    font-size: 40px;
    /* box-shadow: rgb(255, 206, 72, 0.5) 0px 0px 14px 6px inset; */
    border-radius: 25px;
    cursor: pointer;
    background: linear-gradient(#FFBB00, #f89b00);
    transition: transform 0.2s ease-in-out;
    transform: skewX(-10deg);
    position: absolute;
    top: 650px;
    height: 75px;
    width: 200px;
    text-shadow: -3px -3px 0 #ea9400e6, 3px -3px 0 #ea9400e6, -3px 3px 0 #ea9400e6, 3px 3px 0 #ea9400e6, 0px 3px 0 #ea9400e6, 0px -3px 0 #ea9400e6, 3px 0px 0 #ea9400e6, -3px 0px 0 #ea9400e6;
    /* box-shadow: rgb(255, 206, 72, 0.5) 0px 0px 14px 6px inset, 
                0 10px 50px rgba(17, 33, 48, 0.5) outset; */
    box-shadow: inset 0px 0px 14px 6px #ffda48, 0 0 36px 20px #112130;
}

.submit-button:active {
    background: #FFCC24;
}

.submit-button:hover {
    transform: skewX(-9deg) scale(1.1);
}

img{
    position: absolute;
}

.core{
    height: 390px;
    top: 280px;
    left: 260px;
    z-index: 0;
}
.k41{
    height: 182px;
    top: 240px;
    left: 5%;
}
.clock{
    height: 350px;
    top: 370px;
    left: 510px;
    z-index: 3;
}
.aiden{
    height: 385px;
    top: 370px;
    left: 72px;
    z-index: 3;
}

.btnWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 4000;
}

.Wrapper2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.Wrapper3{
    width: 900px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.core, .logo, .k41, .clock, .aiden {
    will-change: transform;
}


@media (max-width: 850px) {
    .hero-section {
      height: 100vh; /* Adjust height */
      background-size: cover; /* Adjust background */
      background-position: center;
    }
  
    .logo img {
      width: 19rem; /* Adjust logo size */
      height: auto;
    }
  
    .submit-button {
      font-size: 2.5rem; /* Adjust font size */
      width: 14rem; /* Adjust width */
      top: 86vh; /* Adjust positioning */
      bottom: 10px; /* Adjust positioning */
      height: 5.5rem;
    }
  
    /* Adjust parallax images */
    .k41{
        height: 33vw;
        top: 51vh;
        left: -1%;
    }
    .Wrapper3{
        width: 95%;
    }
    .clock{
        left: 54%;
        top: 65vh;
        height: 52vw;
    }
    .core{
        left: 19%;
        top: 53.6vh;
        height: 68vw;
    }
    .aiden{
        left: -4%;
        top: 65vh;
        height: 62vw;
    }
}