<div class="container">
    <div class="row">
        <div class="col back1">
            <div class="description">
                <div class="scettro">
                    <div class="pallino"></div>
                    <div class="lineetta"></div>
                </div>
                <h2>DYNAMIC LEVELS</h2>
                <h4>Sottotitolo magico che spiega qualcosa</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error dolor molestiae, nostrum tenetur porro aliquid quibusdam libero quam iure ab. Numquam aspernatur quibusdam aut omnis inventore incidunt totam quidem corporis.</p>
            </div>
        </div>
        <div class="img-col">
            <img src="../../assets/Images/BG_Article_1.jpg" alt="Card 1">
        </div>
    </div>

    <div class="row">
        <div class="img-col dissolve2">
            <img src="../../assets/Images/BG_Article_2.jpg" alt="Card 2">
        </div>
        <div class="col back2">
            <div class="description desc2">
                <div class="scettro">
                    <div class="pallino"></div>
                    <div class="lineetta"></div>
                </div>
                <h2>DYNAMIC LEVELS</h2>
                <h4>Sottotitolo magico che spiega qualcosa</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error dolor molestiae, nostrum tenetur porro aliquid quibusdam libero quam iure ab. Numquam aspernatur quibusdam aut omnis inventore incidunt totam quidem corporis.</p>
            </div>            
        </div>
    </div>

    <div class="row">
        <div class="col back3">
            <div class="description">
                <div class="scettro">
                    <div class="pallino"></div>
                    <div class="lineetta"></div>
                </div>
                <h2>DYNAMIC LEVELS</h2>
                <h4>Sottotitolo magico che spiega qualcosa</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error dolor molestiae, nostrum tenetur porro aliquid quibusdam libero quam iure ab. Numquam aspernatur quibusdam aut omnis inventore incidunt totam quidem corporis.</p>
            </div>
        </div>
        <div class="img-col dissolve3">
            <img src="../../assets/Images/BG_Article_3.jpg" alt="Card 3">
        </div>        
    </div>
</div>
