<div class="container">
    <div class="row">
        <div class="col back1">
            <div class="description">
                <div class="scettro">
                    <div class="pallino"></div>
                    <div class="lineetta"></div>
                </div>
                <h2>LIVELLI DINAMICI</h2>
                <h4>Lasciati sorprendere da dinamiche sempre più interattive</h4>
                <p>Immergiti in un ambiente dinamico e variabile che rendono il gameplay di TEOM frenetico e coinvolgente.
                Sul campo di battaglia potrai annientare le orde nemiche attraverso elementi interagibili e  meccaniche arcade
                </p>
            </div>
        </div>
        <div class="img-col">
            <img src="../../assets/Images/BG_Article_1.jpg" alt="Card 1">
        </div>
    </div>

    <div class="row">
        <div class="img-col dissolve2">
            <img src="../../assets/Images/BG_Article_2.jpg" alt="Card 2">
        </div>
        <div class="col back2">
            <div class="description desc2">
                <div class="scettro">
                    <div class="pallino"></div>
                    <div class="lineetta"></div>
                </div>
                <h2>Corecrawler</h2>
                <h4>Mettiti alla prova nella modalità rogue-like</h4>
                <p>
Lanciati in una sfrenata scalata attraverso una mappa procedurale, fino a sconfiggere il Boss di ogni bioma.
Non abbatterti se vieni sconfitto e il tuo inventario verrà perso.
Grazie alla modalità rogue-like non ci sono limiti alla rigiocabilità!!!
</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col back3">
            <div class="description">
                <div class="scettro">
                    <div class="pallino"></div>
                    <div class="lineetta"></div>
                </div>
                <h2>Campaigna</h2>
                <h4>Scopri l'universo TEOM</h4>
                <p>Accompagna Aiden e i suoi amici in questa avventura in un mondo presidiato dai pericolosi EUTONS.
Raccogli preziose informazioni nel tuo viaggio. Riuscirai a ricostruire le origini dell'universo TEOM e a fermare il Mainframe?
</p>
            </div>
        </div>
        <div class="img-col dissolve3">
            <img src="../../assets/Images/BG_Article_3.jpg" alt="Card 3">
        </div>
    </div>
</div>
