<div class="container">
    <div class="row">
        <div class="col back1">
            <div class="description">
                <div class="scettro">
                    <div class="pallino"></div>
                    <div class="lineetta"></div>
                </div>
                <h2>DYNAMIC LEVELS</h2>
                <h4>Be surprised by increasingly interactive dynamics</h4>
                <p>Immerse yourself in a dynamic and variable environment that makes TEOM's gameplay fast-paced and engaging.
                On the battlefield, you can annihilate enemy hordes through interactable elements and arcade mechanics.
                </p>
            </div>
        </div>
        <div class="img-col">
            <img src="../../assets/Images/BG_Article_1.jpg" alt="Card 1">
        </div>
    </div>

    <div class="row">
        <div class="img-col dissolve2">
            <img src="../../assets/Images/BG_Article_2.jpg" alt="Card 2">
        </div>
        <div class="col back2">
            <div class="description desc2">
                <div class="scettro">
                    <div class="pallino"></div>
                    <div class="lineetta"></div>
                </div>
                <h2>Corecrawler</h2>
                <h4>Test yourself in rogue-like mode</h4>
                <p>
Throw yourself into a wild climb through a procedural map, until you defeat the Boss of each biome.
Don't be discouraged if you are defeated and your inventory is lost.
Thanks to rogue-like mode, there are no limits to replayability!!!
</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col back3">
            <div class="description">
                <div class="scettro">
                    <div class="pallino"></div>
                    <div class="lineetta"></div>
                </div>
                <h2>Campaign</h2>
                <h4>Discover the TEOM universe</h4>
                <p>Accompany Aiden and his friends on this adventure in a world guarded by dangerous EUTONS.
Collect valuable information on your journey. Will you be able to reconstruct the origins of the TEOM universe and stop the Mainframe?
</p>
            </div>
        </div>
        <div class="img-col dissolve3">
            <img src="../../assets/Images/BG_Article_3.jpg" alt="Card 3">
        </div>
    </div>
</div>
