.container{
  background-image: url("src\assets\bg\BG_Blur.png");
  background-size: cover;
  margin-top: -60px;
  margin-bottom: -75px;
  padding-bottom: 50px;
  height: 510px;
  display: flex;
  clip-path: polygon(
    -140% -20%, 83% 12%, 100% 0%, 100% 100%, 15% 88%, 0% 100%, 0 0%, 0 20px
  );
}

.contact-card {
  position: relative;
  width: 60%;
  height: 260px;
  max-width: 800px;
  margin: auto ;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  background: linear-gradient(to top, #2D5CA6, #14283D);
}

.form-wrapper {
  position: relative;
  border: 2px solid rgba(255, 255, 255, 0.15);
  border-radius: 12px; 
}

.header {
  position: absolute;
  top: -15px;
  left: 20px;
  text-align: center;
  background-color: #14283D;
}

.header h2 {
  padding: 0 10px;
  background: -webkit-linear-gradient(white 30%, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 25px;
}

.form-wrapper form {
  padding: 40px 20px 20px;
}

.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-group {
  margin: 0 10px;
}

.input-group label {
  display: block;
  font-size: 10px;
  color: #FFBB00;
  margin-left: 12px;
  margin-bottom: 2px;
}

.input-group input {
  width: 194px;
  padding: 10px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  font-size: 9px;
  height: 9px;
  color: #eaeaea;
  background-color: rgba(255, 255, 255, 0.04);
}

.form-group {
  margin-bottom: 20px;
}

.input-group textarea {
  width: 100%;
  height: 90px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.04);
  font-size: 9px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  /* backdrop-filter: brightness(200%); */
  /* backdrop-filter: grayscale(15%); */
}

.checkbox {
  text-align: center;
}

.submit-button {
  position: absolute;
  bottom: -35px; /* Sposta il pulsante sopra il bordo inferiore */
  left: 50%; /* Centra orizzontalmente */
  transform: translateX(-50%) skewX(-10deg); /* Centra orizzontalmente */
  z-index: 1; /* Sopra il form e il bordo */
  padding: 11px 50px;
  background: #FFBB00;
  color: white;
  font-weight: 900;
  font-size: 20px;
  /* -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(77, 77, 77); */
  text-shadow:
  -2px 0px 0px grey,
  2px 0px 0px grey,
  0px -2px 0px grey,
  0px 2px 0px grey;
  border: none;
  border-radius: 14px;
  cursor: pointer;
}

.submit-button:hover {
  background: yellow;
}

.header span {
  background-color: rgba(20, 40, 61);
}

.checkbox input[type="checkbox"] {
  background-color: rgba(20, 40, 61, 0.5);
  border-radius: 30px;
}

.checkbox{
  display: flex;
  justify-content: center;
  color: #fff;
}
.checkbox label{
  font-size: 10px;
  margin-left: 3px;
}

.checkbox a{
  color: #FFBB00;
}