<div class="container">
    <div class="contact-card">
        <div class="form-wrapper">
            <div class="header">
                <h2>Contattaci</h2>
            </div>
            <form >
                <div class="input-row">
                    <div class="input-group">
                        <label for="name">Come ti chiami?</label>
                        <input type="text" id="name" [(ngModel)]="name" placeholder="Insert your name">
                    </div>
                    <div class="input-group margin">
                        <label for="email">Quale è la tua E-Mail?</label>
                        <input type="email" id="email" [(ngModel)]="email" placeholder="E-Mail">
                    </div>
                </div>
                <div class="input-group message">
                    <label for="message">Come possiamo esserti utili?</label>
                    <textarea type="text" id="message" [(ngModel)]="message" placeholder="Message"></textarea>
                </div>
                <div class="checkEndButtonContainer">
                    <div class="checkbox">
                        <input type="checkbox" id="privacy" name="privacy" [(ngModel)]="isCheckboxChecked">
                        <label for="privacy">Ho letto e accetto la <a href="#privacy-policy">Privacy Policy.</a></label>
                    </div>
                    <div *ngIf="showError" class="error-message">
                        Per inviare il messaggio devi accettare le regole della Privacy Policy.
                    </div>
                    <div class="button-wrapper" (click)="onSubmit(submitBtn)">
                        <label for="submit-form" class="submit-text">{{ isSubmitted ? 'INVIATO' : 'INVIA' }}</label>
                        <button #submitBtn id="submit-form" class="submit-button" type="submit" [disabled]="!isCheckboxChecked"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>