/* CONTAINER PRINCIPALI */

.container{
  background-image: url("src\assets\bg\BG_Blur.png");
  background-size: cover;
  margin-top: -100px;
  padding-top: 5px;
  margin-bottom: -106px;
  padding-bottom: 55px;
  height: 770px;
  display: flex;
  clip-path: polygon(
    -140% -20%, 83% 12%, 100% 0%, 100% 100%, 15% 88%, 0% 100%, 0 0%, 0 20px
  );
}

.contact-card {
  width: 100%;
  height: 400px;
  max-width: 900px;
  margin: auto ;
  padding: 31px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 45px;
  background: linear-gradient(to top, #2D5CA6, rgb(17, 33, 48));
}

.form-wrapper {
  position: relative;
  border: 3px solid rgba(255, 255, 255, 0.15);
  border-radius: 25px;
  height: -webkit-fill-available;
  user-select: none;
}

/*__TITLE____________________________________________________________________________*/

.header {
  position: absolute;
  top: -25px;
  left: 50px;
  text-align: center;
  user-select: none;
}

.header h2 {
  padding: 0 0px;
  background: -webkit-linear-gradient(white 37%, rgb(39, 39, 39));
  /* linear-gradient(#f7d80c, #FFBB00, #f89b00); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  transform: skewX(-9deg);
}

/*__INPUT____________________________________________________________________________*/

input::placeholder, textarea::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}

.form-wrapper form {
  margin: 45px 55px 0px;
}

.input-group {
  width: 100%;
}

.input-group label {
  display: block;
  font-size: 18px;
  color: #FFBB00;
  margin-left: 25px;
  margin-bottom: 3px;
}

.input-group input {
  width: 100%;
  padding: 16px 0px 15px 25px; /* ALTEZZA INPUT PRIMO E TERZO */
  box-sizing: border-box;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 26px;
  font-size: 18px;
  height: 52px;
  color: #eaeaea;
  background-color: rgba(255, 255, 255, 0.06);
}

.margin{
  margin-left: 20px;
}

.input-group textarea {
  width: 100%;
  height: 120px;
  border-radius: 27px;
  background-color: rgba(255, 255, 255, 0.04);
  font-size: 18px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  padding: 8px 16px 0px 25px; /* ALTEZZA INPUT PRIMO */
  box-sizing: border-box;
  color: white;
}

/* __CHECKBOX____________________________________________________________________________ */

.checkbox{
  display: flex;
  justify-content: center;
  color: #fff;
  margin: 0px auto 20px auto;
  user-select: none;
}

.checkbox input[type="checkbox"] {
  background-color: rgba(20, 40, 61, 0.5);
  border-radius: 27px;
}

.checkbox label{
  font-size: 18px;
  margin-left: 3px;
  user-select: none;
}

.checkbox a{
  color: #FFBB00;
}

/* CASELLA */

.checkbox input[type="checkbox"] {
  margin-top: 1px; /* PER CENTRARE */
  width: 18px;
  height: 18px;
  background-color: rgba(97, 111, 127, 0.8);
  border: 2px solid #FFBB00; 
  border-radius: 5px;
  -webkit-appearance: none; /* Rimuove l'aspetto predefinito su Safari e Chrome */
  -moz-appearance: none; /* Rimuove l'aspetto predefinito su Firefox */
}

/* .checkbox input[type="checkbox"]:checked {
  background-color: #FFBB00;
} */

.checkEndButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
}

.checkbox input[type="checkbox"]:checked::after {
  content: '✓';
  font-size: 29px;
  line-height: 18px; /* Allineare il testo della spunta con la checkbox */
  color: yellow;
  position: absolute;
  top: -2px;
}

.checkbox label{
  margin-left: 6px;
}

/* __SUBMIT____________________________________________________________________________ */

.submit-button {
  z-index: 1;
  width: 100%;
  color: white;
  font-weight: 800;
  font-size: 40px;
  box-shadow: rgb(255, 206, 72, 0.5) 0px 0px 14px 6px inset;
  border-radius: 20px;
  cursor: pointer;
  background: linear-gradient(#FFBB00, #f89b00);
  transition: transform 0.2s ease-in-out;
  transform: skewX(-9deg);
}

.button-wrapper {
  display: flex;
  align-content: center;
  justify-content: center;
  position: relative;
  height: 66px; /* altezza bottone */
  width: 140px;
}

.submit-button:active {
  background: #FFCC24;
}

/* Al passaggio del mouse, ingrandisci il pulsante */
.button-wrapper:hover .submit-button {
  transform: skewX(-9deg) scale(1.1);
}

.submit-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: block;
  font-weight: 800;
  font-size: 39px;
  color: #fff;
  text-shadow: -3px -3px 0 #ea9400e6, 3px -3px 0 #ea9400e6, -3px 3px 0 #ea9400e6, 3px 3px 0 #ea9400e6, 0px 3px 0 #ea9400e6, 0px -3px 0 #ea9400e6, 3px 0px 0 #ea9400e6, -3px 0px 0 #ea9400e6;
}

.error-message {
  color: #ea9400e6;
  font-size: 13px;
  margin-top: -20px;
  margin-bottom: 3px;
}

/* Stile per creare l'animazione del bordo */
@keyframes pulse-border {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 206, 72, 0.5);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(255, 206, 72, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 206, 72, 0);
  }
}

.submit-button-animate {
  animation: pulse-border 0.6s ease-out;
}
