*{
    margin: 0px;
    border: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    font-family: 'Bebas Neue', sans-serif;
    cursor: url('../src/assets/Cursor/Normal2.png'), auto !important;
    /* cursor: none; */
    /* box-sizing: border-box; */
    /* border: 1px solid red; */

}

@font-face {
    font-family: 'Bebas Neue Pro';
    src: url('./assets/font/BebasNeuePro-Regular.otf') format('opentype');
  }
  
body{
    overflow-x: hidden;
}

/* Barra di scorrimento principale */
::-webkit-scrollbar {
    width: 10px;
}

/* Traccia della barra di scorrimento */
::-webkit-scrollbar-track {
    background: #182c3f;
    opacity: 90%;
}

/* Maniglia della barra di scorrimento */
::-webkit-scrollbar-thumb {
    background:  linear-gradient(#FFBB00 60%, #f89b00);
    border-radius: 5px;
}

/* Maniglia della barra di scorrimento al passaggio del mouse */
::-webkit-scrollbar-thumb:hover {
    background: #ffd000;
}

/* background: linear-gradient(rgb(255, 187, 0, 0.5), transparent); */

img {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* Non-Prefixed Version */
    pointer-events: none;
}