<div class="container-wrapper">
  <div class="text-container">
    <h2>Screenshots</h2>
    <h4>Guarda ora il trailer aggiornato</h4>
  </div>

  <div class="arrow left-arrow" (click)="previousSlide()">
    <img src="/assets/Images/Icon_Previous.png" alt="Previous">
  </div>
  <div class="arrow right-arrow" (click)="nextSlide()">
    <img src="/assets/Images/Icon_Next.png" alt="Next">
  </div>  
  <div class="background-container" [ngClass]="currentContainerBackground"></div>
  <div class="container">
      
      <ngx-slick-carousel #slickModal="slick-carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let slide of slides" class="cardWrapper">
          
          <div class="row" [ngClass]="slide.bgClass"
               (mouseenter)="changeBackgroundForRow($event, slide.img, slide.bgClass)" 
               (mouseleave)="resetBackground($event)">

            <div class="card" (mouseenter)="onItemMouseEnter($event)" 
                 (mouseleave)="onItemMouseLeave($event)" (mousemove)="onItemMouseMove($event)">
              <img [src]="slide.img" alt="">
            </div>
          </div>
        </div>
      </ngx-slick-carousel>
  </div>
</div>

