.container-wrapper {
    position: relative;
    padding: 200px 0 120px 0;
    width: 100%;
    height: 100%;
}
  
.background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #112130;
    transition: opacity 1s ease-in-out;
}
  
.background-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--background-image-url, none) !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    background-attachment: fixed;
    transition: background-image 1s ease-in-out, opacity 1s ease-in-out;
}
  
.background-container.show-background::before {
    opacity: 0.06;
    transition: background-image 1s ease-in-out, opacity 1s ease-in-out;
}
  
.card-section {
    color: white;
}

.carouselContainer {
    transition: scroll 0.5s ease-out;
  }
  

.row {
    display: flex;
    align-items: center;
    padding: 70px 0 70px 0;
    perspective: 1000px;
    position: relative;
    width: auto;
    justify-content: center;
}
  
.col {
    display: flex;
}
  
.card {
    display: flex;
    background: linear-gradient(to top, #2D5CA6, #112130);
    border-radius: 38px;
    padding: 10px;
    width: 520px; /* Larghezza delle card */
    justify-content: center;
    transition: transform 0.2s ease-in-out, opacity 0.5s ease-in-out;
    user-select: none;
}
  
.card.active {
    opacity: 1; /* Rende visibile la card attiva */
}

img {
    height: 100%;
    width: 100%;
    border-radius: 38px;
    border: 2px solid white;
}
  
/* Stili delle frecce */
.arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: white;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    display: block; /* Assicura che siano sempre visibili */
}
  
.left-arrow {
    left: 10px;
}
  
.right-arrow {
    right: 10px;
}

.carouselContainer {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    justify-content: center; /* Centra la card */
  }

/* Rimuovi i commenti non necessari */
.cardWrapper {
    flex: 0 0 100%; /* Ogni card occupa l'intera larghezza del container */
    display: flex;
    justify-content: center; /* Centra il contenuto della card */
  }