<div class="container-wrapper">
  <div class="arrow left-arrow" (click)="previousSlide()">&#10094;</div>
  <div class="arrow right-arrow" (click)="nextSlide()">&#10095;</div>
  <div class="background-container" [ngClass]="currentContainerBackground"></div>
  <div class="container">
    <div class="card-section">
      
      <ngx-slick-carousel #slickModal="slick-carousel" [config]="slideConfig">
        
        <div ngxSlickItem *ngFor="let slide of slides" class="cardWrapper">
          
          <div class="row" [ngClass]="slide.bgClass" 
               (mouseenter)="changeBackgroundForRow($event, slide.img, slide.bgClass)" 
               (mouseleave)="resetBackground($event)">

            <div class="col card" (mouseenter)="onItemMouseEnter($event)" 
                 (mouseleave)="onItemMouseLeave($event)" (mousemove)="onItemMouseMove($event)">
              <img [src]="slide.img" alt="">
            </div>
          </div>
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
</div>

