.container-wrapper {
    position: relative;
    padding: 200px 0 120px 0;
    width: 100%;
    height: 100%;
}

.background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #112130;
    transition: opacity 1s ease-in-out;
}
  
.background-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--background-image-url, none) !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    background-attachment: fixed;
    transition: background-image 1s ease-in-out, opacity 1s ease-in-out;
}
  
.background-container.show-background::before {
    opacity: 0.06;
    transition: background-image 1s ease-in-out, opacity 1s ease-in-out;
}
  
.card-section {
    color: white;
}

.carouselContainer {
    transition: scroll 0.5s ease-out;
}
  

.row {
    display: flex;
    align-items: center;
    padding: 35px 0 35px 0;
    perspective: 1000px;
    position: relative;
    width: auto;
    justify-content: center;
}
  
.col {
    display: flex;
}
  
.card {
    display: flex;
    background: linear-gradient(to top, #2D5CA6, #112130);
    border-radius: 35px;
    padding: 25px;
    width: 820px; /* Larghezza delle card */
    justify-content: center;
    transition: transform 0.2s ease-in-out, opacity 0.5s ease-in-out;
    user-select: none;
}
  
.card.active {
    opacity: 1; /* Rende visibile la card attiva */
}

img {
    height: 100%;
    width: 100%;
    border-radius: 30px;
    border: 2px solid white;
}
  
/* Stili delle frecce */
.arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 30px;
    color: white;
    z-index: 1000;
    border: 4px solid #ffffff;
    display: block;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-family:'Courier New', Courier, monospace
}
  
.left-arrow {
    left: 130px;
}
  
.right-arrow {
    right: 130px;
}

.carouselContainer {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    justify-content: center; /* Centra la card */
  }

/* Rimuovi i commenti non necessari */
.cardWrapper {
    flex: 0 0 100%; /* Ogni card occupa l'intera larghezza del container */
    display: flex;
    justify-content: center; /* Centra il contenuto della card */
}


  
  .slick-dots li button:before {
    background-color: #FFC425 !important;
    height: 10px;
    width: 10px;
    text-indent: -9999px !important;
    overflow:hidden; 
    display: block;
    }